.header {
	width: 90%;
	margin: 0 auto;
}

.error{
    color: red;
}

.header__text {
	text-align: center;
	margin: 0 auto;
    width: 100%;
    color: #105a31;
}

.header__text h2 {
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
}

.header__text p {
	width: 60%;
	margin: 0 auto;
    margin-top: 20px;
    font-weight: 300;
}

.header__text span {
	color: #0702fc;
}

.header__body {
	display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.header__img {
    width: 30%;
}

.header__img img{
    width: 350px;
    object-fit: contain;
}

.header__bodySide {
    text-align: center;
    width: 50%;
}

.header__bodySide button {
    margin-bottom: 40px;
}

.header__link{
    display: inline-block;
    color: #8D07AE;
    border-bottom: 1px solid #8D07AE;
    width: 35%;
    margin: 40px auto;
    cursor: pointer;
}

.mistake{
    position: relative;
}

textarea{
    width: 80%;
    height: 350px;
    border: 2px solid #0702FC;
    border-radius: 20px;
    overflow-y: scroll;
    outline: none;
    padding: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.error-container{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-weight: 600;
}

.noError{
    color: #105a31;
}

.error-message{
    color: #C75300;
}

.btn__submit{
    display: none;
}

 /* ::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #e8e8e8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #8D07AE;
    border-radius: 10px;
} */

@media screen and (max-width: 768px){
    textarea{
        height: 300px;
    }
}

@media screen and (max-width: 425px){
    .header {
        height: 80vh;
    }
    .header__body {
        display: flex;
        flex-direction: column;
    }
    .header__img {
    display: none;
}
.header__bodySide {
    width: 100%;
}

.header__bodySide button {
	border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 50%;
}

.header__bodySide p{
    width: 50%;
    margin: 20px auto;
}

.header__text h2 {
	width: 100%;
}

textarea{
    margin-bottom: 10px;
}

.header__text p {
	width: 100%;
}
.btn__submit{
    display: block;
    margin-left: 25%;
}
.error-container{
    width: 100%;
}
.error-container p{
    margin-left: 0;
    width: 100%;
    font-size: 12px;
}
.icon{
    margin-left: 20px;
}
}